---
layout: page
---

<main>

  <section>
      <h1>{{ site.title }}</h1>
      How to pronounce my name: <i>Tee-Bo</i>&mdash;it's French!
  </section>

  <section>
  <p style="float: right; margin-left:2em;">
    <img src="/assets/images/mainpic.jpg" alt="Portrait" width="180">
 </p>

	<p>
   I am a postdoc at the <a href="https://cudbg.github.io/lab/">WuLab</a>, within the <a href="http://datascience.columbia.edu/">Data Science Institute</a> of <a href="http://www.columbia.edu/">Columbia University</a>, in New York. I build systems to help data scientists <b>interact</b> with <b>large databases</b> and <b>complex statistical models</b> (e.g., deep neural networks). More broadly, I am interested in anything that involves <b>AI, data management and people</b>.
   Relevant keywords are data exploration, data mining, human-in-the-loop analytics and debugging in machine learning.
    </p>

    <p>I am also a music nerd&mdash;when I am not at the office, you may find me play with a band, an orchestra or enjoy one of New York's many music venues.</p>

</section>

<section>
	<p>
    {% for link in site.social_links %}
      {% assign id = link[0] | downcase %}
       <a class="social-media-link" href="{{ link[1] }}">
        {% include icon.html id=id title=id %}
      </a>
  {% endfor %}
	</p>

</section>


</main>