.g---
layout: page
---

<main>

  <section>

      <h1>{{ site.title }}</h1>

      How to pronounce my name: <i>Tee-Bo</i>&mdash;it's French!
  </section>

  <section>
  <p style="float: right; margin-left:2em;">
    <img src="/assets/images/mainpic.jpg" alt="Portrait" width="180">
 </p>

   <p>
   	I am a Staff Research Scientist at Google Deepmind in NYC. I am interested in a wide array of problems at the intersection of machine learning and language.
        Currently, I am focusing on <a href="https://deepmind.google/technologies/gemini/#introduction">Gemini</a> post-training, with a strong focus on using tools and factuality.
	I have also done work on evaluation and multilinguality (e.g., <a href="https://research.google/blog/evaluating-speech-synthesis-in-many-languages-with-squid/">SQuId</a>, <a href="https://arxiv.org/abs/2106.16163">MultiBERTs</a>, and <a href="https://research.google/blog/evaluating-natural-language-generation-with-bleurt/">BLEURT</a>).
    </p>

   <p>Before joining Google, I worked on database systems and visualization. I was a PhD student at the <a href="http://www.uva.nl/en/home">University of Amsterdam</a> and <a href="www.cwi.nl">CWI</a> (the Netherlands), then a postdoc at <a href="https://datascience.columbia.edu/">Columbia</a>.</p>

   <p>I am also a music nerd&mdash;when I am not at the office, you may find me play with a band, an orchestra or enjoy one of New York's many music venues. I also like to apply ML to music, see examples <a href="{{ site.baseurl }}{% post_url 2018-01-01-Secret-Sauce-data %}">here</a>.</p>

</section>

<section>
	<p>
    {% for link in site.social_links %}
      {% assign id = link[0] | downcase %}
       <a class="social-media-link" href="{{ link[1] }}">
        {% include icon.html id=id title=id %}
      </a>
  {% endfor %}
	</p>

</section>


</main>
