---
layout: page
title: Publications and Patents
permalink: /publications/
---

    <h1>Patents</h1>

    {% include publication.html
            title="Extraction of Quantitative Data from Online Content"
            authors="Thibault Sellam and Omar Alonso (Microsoft)"
            venue= "US 20160203225"
    %}


    {% include publication.html
            title="Expert Detection in Social Networks"
            authors="Omar Alonso, Martin Hentschel and Vasileios Kandylas and Thibault Sellam (Microsoft)"
            venue= "US 20170249388"
    %}

    <h1>Publications</h1>

    <h2>2019</h2>

        {% include publication.html
            title="Mining Precision Interfaces from Query Logs"
            authors="Qianrui Zhang, Haoci Zhang, Thibault Sellam, Eugene Wu"
            venue= "SIGMOD 2019"
            link = "https://arxiv.org/abs/1904.02344"
        %}

        {% include publication.html
            title="DeepBase: Deep Inspection of Neural Networks"
            authors="Thibault Sellam, Kevin Lin, Ian Yiran Huang, Michelle Yang, Carl Vondrick, Eugene Wu"
            venue= "SIGMOD 2019"
            link = "https://www.dropbox.com/s/7yk2gr1qifvgakk/dnn-sigmod19-cr.pdf?dl=0"
        %}

    <h2>2018</h2>

        {% include publication.html
            title="Deep Neural Inspection Using DeepBase"
            authors="Yiru Chen, Yiliang Chi, Boyuan Chen, Thibault Sellam, Carl Vondrick, Eugene Wu"
            venue= " Systems for ML@NeurIPS 2018"
            link="https://www.dropbox.com/s/abth7ko579cf9mu/dnn-nips19learnsys-cr.pdf?dl=0"
        %}

        {% include publication.html
            title="I Like the Way You Think! - Inspecting the Internal Logic of Recurrent Neural Networks"
            authors="Thibault Sellam, Kevin Lin, Ian Yiran Huang, Carl Vondrick, Eugene Wu"
            venue= "SysML 2018"
            link="/assets/papers/sellam-sysML.pdf"
        %}

        {% include publication.html
            title="Quantitative Information Extraction From Social Data"
            authors="Omar Alonso and Thibault Sellam"
            venue= "SIGIR 2018 (short paper)"
        %}

        {% include publication.html
            title="Precision Interfaces for Different Modalities"
            authors="Haoci Zhang, Viraj Rai, Thibault Sellam, Eugene Wu"
            venue= "SIGMOD 2018 (Demo Track)"
        %}


    <h2>2017</h2>

        {% include publication.html
            title="Mining Precision Interfaces From Query Logs"
            authors="Haoci Zhang, Thibault Sellam, Eugene Wu"
            venue= "arXiv (under submission)"
            link="https://arxiv.org/abs/1712.00078"
        %}

        {% include publication.html
                title="Precision Interfaces"
                authors="Haoci Zhang, Thibault Sellam, Eugene Wu"
                venue= "HILDA@SIGMOD 2017"
                link="https://arxiv.org/abs/1704.03022"
        %}

        {% include publication.html
                title="Combining Design and Performance in a Data Visualization Management System"
                authors="Eugene Wu, Fotis Psallidas, Zhengjie Miao, Haoci Zhang, Laura Rettig, Thibault Sellam"
                venue= "CIDR 2017"
                link="http://cidrdb.org/cidr2017/papers/p95-wu-cidr17.pdf"
        %}

     <h2>2016</h2>

        {% include publication.html
                title="e#: Sharper Expertise Detection from Microblogs"
                authors="Thibault Sellam, Martin Hentschel, Vasilis Kandylas, Omar Alonso"
                venue= "EDBT 2016"
                link="https://openproceedings.org/2016/conf/edbt/paper-62.pdf"
        %}


        {% include publication.html
                title="Fast, Explainable View Detection to Characterize Exploration Queries"
                authors="Thibault Sellam, Martin Kersten"
                venue= "SSDBM 2016"
                link="https://dl.acm.org/citation.cfm?id=2949692"
        %}

        {% include publication.html
                title="Have a Chat with Clustine, Conversational Engine to Query Large Tables"
                authors="Thibault Sellam, Martin Kersten"
                venue= "HILDA@SIGMOD 2016"
                link="https://dl.acm.org/citation.cfm?id=2939504"
        %}

        {% include publication.html
                title="Ziggy: Characterizing Query Results for Data Explorers"
                authors="Thibault Sellam, Martin Kersten"
                venue= "VLDB 2016 (Demo Track)"
                link="http://www.vldb.org/pvldb/vol9/p1473-sellam.pdf"
        %}

        {% include publication.html
                title="Blaeu: Mapping and Navigating Large Tables with Cluster Analysis"
                authors="Thibault Sellam, Robin Cijvat, Richard Koopmanschap, Martin Kersten"
                venue= "VLDB 2016 (Demo Track)"
                link="http://www.vldb.org/pvldb/vol9/p1477-sellam.pdf"
        %}

        {% include publication.html
                title="80 New Packages to Mine Database Query Logs"
                authors="Thibault Sellam, Martin Kersten"
                venue= "arXiv"
                link="https://arxiv.org/abs/1703.08732"
        %}


         <h2>2015</h2>

        {% include publication.html
            title="Semi-Automated Exploration of Data Warehouse"
            authors="Thibault Sellam, Emmanuel M&uuml;ller, Martin Kersten"
            venue= "ACM CIKM 2015 (KM track)"
            link="https://dl.acm.org/citation.cfm?id=2806538"
        %}

        {% include publication.html
            title="Cluster-Driven Navigation of the Query Space"
            authors="Thibault Sellam, Martin Kersten"
            venue= "IEEE TKDE 2015"
            link="http://ieeexplore.ieee.org/abstract/document/7374727/"
        %}

        {% include publication.html
            title="Raimond: Quantitative Data Extraction from Twitter to Describe Events"
            authors="Thibault Sellam, Omar Alonso"
            venue= "ICWE 2015"
            link="https://link.springer.com/chapter/10.1007/978-3-319-19890-3_17"
        %}




    <h2>2013</h2>

        {% include publication.html
            title="Meet Charles, Big Data Query Advisor"
            authors="Thibault Sellam, Martin Kersten"
            venue= "CIDR 2013"
            link="http://cidrdb.org/cidr2013/Papers/CIDR13_Paper94.pdf"
        %}

        {% include publication.html
                title="Fast Cartography for Data Explorers"
                authors="Thibault Sellam"
                venue= "PhD workshop@VLDB 2013"
                link="http://www.vldb.org/pvldb/vol6/p1456-sellam.pdf"
        %}
        {% include publication.html
                title="X-device query processing by bitwise distribution"
                authors="Holger Pirk, Thibault Sellam, Stefan Manegold, Martin Kersten"
                venue= "DaMoN@SIGMOD 2012"
                link="https://dl.acm.org/citation.cfm?id=2236591"
        %}

        {% include publication.html
                title="Scalable Generation of Synthetic GPS Traces with Real-Life Data Characteristics"
                authors="Konrad B&ouml;sche, Thibault Sellam, Holger Pirk, Ren&eacute; Beier, Peter
                Mieth, Stefan Manegold"
                venue= "TPCTC@VLDB 2012"
                link="https://link.springer.com/chapter/10.1007/978-3-642-36727-4_10"
        %}
