---
title: false
---

@import "alembic";

a.social-media-link {
	padding:.8em;
	text-decoration: none !important;
	font-size:1em;
};

p.biblio{
	font-size:.8em;
	padding-top : .5em;
    line-height: 1.5 !important;
    margin-bottom:.5em !important;
}

.blog-snippet{
	 float: left;
	 margin-right: 1em;
	 width:35%;
}